.lamp {
    top: 40px;
    position: relative;
    width: 400px;
    height: 400px;
}

.lamp__bulb {
    width: 400px;
    height: 15px;
    border-radius: 50px;
    background: linear-gradient(#404040, #8d8d8d, white);
    position: absolute;
    top: 10px;
    z-index: 1;
    transform: rotate(-10deg);
}

.lamp__stem {
    height: 300px;
    width: 15px;
    background: linear-gradient(0.25turn, gray, white);
    position: absolute;
    top: 50px;
    border-radius: 30px;
    left: 50px;
}

.lamp__basis {
    width: 200px;
    height: 25px;
    background: linear-gradient(white, gray);
    position: absolute;
    bottom: 30px;
    border-radius: 20px;
    left: 20px;
    visibility: visible;
}

.lamp__light {
    position: absolute;
    top: 20px;
    left: -88px;
    opacity: 0.3;
    width: 650px;
    height: 410px;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0));
    visibility: visible;
    transform: rotate(-10deg);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    -o-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    -moz-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
